<p-toast></p-toast>
<app-table [fields]="fields"
           [baseOperationService]="stateService"
           (editModelEvent)="edit($event)"
           (deleteModelEvent)="delete($event)"
           (newModelEvent)="openNew()">
</app-table>

<p-dialog [(visible)]="stateDialog" [style]="{width: '450px'}" header="State Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="resultDate">State Id</label>
      <input type="text" pInputText id="resultDate" [(ngModel)]="state.stateId" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !state.stateId">Result Date is required.</small>
    </div>
    <div class="p-field">
      <label for="expectedValue">Name</label>
      <input type="text" pInputText id="expectedValue" [(ngModel)]="state.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !state.name">Expected Value is required.</small>
    </div>
    <div class="p-field">
      <label for="actualValue">Code</label>
      <input type="text" pInputText id="actualValue" [(ngModel)]="state.code" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !state.code">Actual Value is required.</small>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveState()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


