<p-table
  [value]="counties"
  [lazy]="true"
  (onLazyLoad)="loadCounties($event)"
  dataKey="id"
  [tableStyle]="{'min-width': '75rem'}"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">County Id<p-sortIcon field="countyId"></p-sortIcon></th>
      <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="name">Code<p-sortIcon field="code"></p-sortIcon></th>
      <th pSortableColumn="name">State<p-sortIcon field="stateId"></p-sortIcon></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="countyId"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="code"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="stateId"></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-county>
    <tr>
      <td>{{county.countyId}}</td>
      <td>{{county.name}}</td>
      <td>{{county.code}}</td>
      <td>{{county.stateId}}</td>
    </tr>
  </ng-template>
</p-table>
