<p-toast></p-toast>
<app-table [fields]="fields"
           [baseOperationService]="countyService"
           (editModelEvent)="edit($event)"
           (deleteModelEvent)="delete($event)">
</app-table>
<p-dialog [(visible)]="countyDialog" [style]="{width: '450px'}" header="County Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="countyId">County Id</label>
      <input type="text" pInputText id="countyId" [(ngModel)]="county.countyId" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !county.countyId">countyId is required.</small>
    </div>
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="county.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !county.name">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="code">Code</label>
      <input type="text" pInputText id="code" [(ngModel)]="county.code" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !county.code">code is required.</small>
    </div>
    <div class="p-field">
      <label for="state">State</label>
      <input type="text" pInputText id="state" [(ngModel)]="county.state" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !county.state">state is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCounty()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
