<p-table
  [columns]="fields"
  [value]="data"
  (onLazyLoad)="loadData($event)"
  [lazy]="true"
  dataKey="id"
  [tableStyle]="{'min-width': '75rem'}"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rows]="10">

  <ng-template pTemplate="header" let-columns>

    <p-toolbar>
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      </ng-template>
    </p-toolbar>

    <tr>
      <th pSortableColumn="" *ngFor="let col of columns">
        {{ col.title }}
        <p-sortIcon></p-sortIcon>
      </th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <th *ngFor="let col of columns">
        <p-columnFilter type="text"></p-columnFilter>
      </th>
      <th></th>
      <th></th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let field of fields">
        {{ row[field.name] }}
      </td>

      <td [style]="{padding: '5px'}">
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editModel(row)"></button>
      </td>
      <td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteModel(row)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
