<p-table
  [value]="cities"
  [lazy]="true"
  (onLazyLoad)="loadCities($event)"
  dataKey="id"
  [tableStyle]="{'min-width': '75rem'}"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading">
  <ng-template pTemplate="header">
    <p-toolbar>
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      </ng-template>
    </p-toolbar>
    <tr>
      <th pSortableColumn="name">City Id<p-sortIcon field="cityId"></p-sortIcon></th>
      <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="name">Code<p-sortIcon field="code"></p-sortIcon></th>
      <th pSortableColumn="name">County<p-sortIcon field="countyId"></p-sortIcon></th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="cityId"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="code"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="countyId"></p-columnFilter>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-city>
    <tr>
      <td>{{city.cityId}}</td>
      <td>{{city.name}}</td>
      <td>{{city.code}}</td>
      <td>{{city.countyId}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCity(city)"></button>
      </td><td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCity(city)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="cityDialog" [style]="{width: '450px'}" header="City Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="cityId">cityId</label>
      <input type="text" pInputText id="cityId" [(ngModel)]="city.cityId" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !city.cityId">cityId is required.</small>
    </div>
    <div class="p-field">
      <label for="name">name</label>
      <input type="text" pInputText id="name" [(ngModel)]="city.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !city.name">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="code">code</label>
      <input type="text" pInputText id="code" [(ngModel)]="city.code" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !city.code">code is required.</small>
    </div>
    <div class="p-field">
      <label for="county">county</label>
      <input type="text" pInputText id="county" [(ngModel)]="city.county" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !city.county">county is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCity()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


