<p-toast></p-toast>
<p-table
  [value]="batches"
  [lazy]="true"
  (onLazyLoad)="loadBatches($event)"
  dataKey="scNumber"
  selectionMode="single"
  [tableStyle]="{'min-width': '75rem'}"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">

  <p-toolbar>
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

    <tr>
      <th pSortableColumn="name">productId<p-sortIcon field="productId"></p-sortIcon></th>
      <th pSortableColumn="name">customerId<p-sortIcon field="customerId"></p-sortIcon></th>
      <th pSortableColumn="name">receivedDate<p-sortIcon field="receivedDate"></p-sortIcon></th>
      <th pSortableColumn="name">remarks<p-sortIcon field="remarks"></p-sortIcon></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="productId"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="customerId"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="receivedDate"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="remarks"></p-columnFilter>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-batch>
    <tr [pSelectableRow]="batch">
      <td>{{batch.productId}}</td>
      <td>{{batch.customerId}}</td>
      <td>{{batch.receivedDate}}</td>
      <td>{{batch.remarks}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editBatch(batch)"></button>
      </td><td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBatch(batch)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="batchDialog" [style]="{width: '560px',height: '760px'}" header="Batch Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field col-7">
      <label for="productId">Product ID</label>
      <p-dropdown [options]="products" [(ngModel)]="batch.productId" id="productId" optionLabel="id"></p-dropdown>
    </div>
    <div class="p-field col-7">
      <label for="receivedDate">Received Date</label>
      <div class="p-field" id="receivedDate" field="receivedDate">
        <p-calendar [(ngModel)]="date" inputId="basic" ></p-calendar>
      </div>
    </div>
    <div class="p-field col-7">
      <label for="customerId">Customer ID</label>
      <p-dropdown [options]="customers" id="customerId" [(ngModel)]="batch.productId" optionLabel="id"></p-dropdown>
    </div>

    <div class="p-field col-7">
      <label for="remarks">Remarks</label>
      <input type="text" pInputText id="remarks" [(ngModel)]="batch.remarks" required autofocus />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBatch()"></button>
  </ng-template>
</p-dialog>


  <p-dialog [(visible)]="sampleTableDialog" [style]="{width: '1400px'}" header="Samples" [modal]="true"
            [closeOnEscape]="false"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <p-table [value]="samples"
                [lazy]="true"
                (onLazyLoad)="loadSample($event)"
                dataKey="resultDate"
                [tableStyle]="{'min-width': '75rem'}"
                [paginator]="true"
                [rows]="10"
                [totalRecords]="totalRecordsSample"
                >
        <ng-template pTemplate="header">

          <p-toolbar>
            <ng-template pTemplate="left">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNewSample()"></button>
            </ng-template>
          </p-toolbar>

          <tr>
            <th pSortableColumn="name">Result Date<p-sortIcon field="resultDate"></p-sortIcon></th>
            <th pSortableColumn="name">Expected Value<p-sortIcon field="expectedValue"></p-sortIcon></th>
            <th pSortableColumn="name">Actual Value<p-sortIcon field="actualValue"></p-sortIcon></th>
            <th pSortableColumn="name">Meet Specs<p-sortIcon field="meetSpecs"></p-sortIcon></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sample>
          <tr>
            <td>{{sample.resultDate}}</td>
            <td>{{sample.expectedValue}}</td>
            <td>{{sample.actualValue}}</td>
            <td>{{sample.meetSpecs}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editSample(sample)"></button>
            </td><td>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSample(sample)"></button>
          </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-dialog>


  <p-dialog [(visible)]="sampleDialog" [closeOnEscape]="false" [style]="{width: '560px',height: '760px'}" header="Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field col-7">
        <label for="resultDate">Result Date</label>
        <div class="p-field" id="resultDate" field="resultDate">
          <p-calendar [(ngModel)]="sample.resultDate" inputId="basic"></p-calendar>
        </div>
      </div>
      <div class="p-field col-7">
        <label for="expectedValue">Expected Value</label>
        <input type="text" pInputText id="expectedValue" [(ngModel)]="sample.expectedValue" required autofocus />
        <small class="p-invalid" *ngIf="submittedBatch && !sample.expectedValue">Expected Value is required.</small>
      </div>
      <div class="p-field col-7">
        <label for="actualValue">Actual Value</label>
        <input type="text" pInputText id="actualValue" [(ngModel)]="sample.actualValue" required autofocus />
        <small class="p-invalid" *ngIf="submittedBatch && !sample.actualValue">Actual Value is required.</small>
      </div>
      <div class="p-field col-7">
        <label for="meetSpecs">MeetSpecs</label>
        <input type="text" pInputText id="meetSpecs" [(ngModel)]="sample.meetSpecs" required autofocus />
        <small class="p-invalid" *ngIf="submittedBatch && !sample.meetSpecs">MeetSpecs is required.</small>
      </div>
    </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogSampleDetails()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSample()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
