@import "primeicons/primeicons.css";
.p-toolbar {
  border: 0px;
  background: #ffffff;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}

input.p-inputtext.p-component.p-element.ng-star-inserted {
  padding: 0.4rem 0.4rem;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 2.5rem;
  width: 2.5rem;
}

.pi {
  font-size: 0.9rem;
}
.p-dialog .p-dialog-content {
  height: 600px;
}

