<p-toast></p-toast>
<app-table [fields]="fields"
           [baseOperationService]="customerService"
           (editModelEvent)="edit($event)"
           (deleteModelEvent)="delete($event)">
</app-table>

<p-dialog [(visible)]="customerDialog" [closeOnEscape]="false" [style]="{width: '560px',height: '760px'}" header="Customer Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field col-7">
      <label for="name">Company</label>
      <input type="text" pInputText id="name" [(ngModel)]="customer.company" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !customer.company">Name is required.</small>
    </div>
    <div class="p-field col-7">
      <label for="phone">Phone</label>
      <input type="text" pInputText id="phone" [(ngModel)]="customer.phone" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !customer.phone">state is required.</small>
    </div>
    <div class="p-field col-7">
      <label for="code">Address</label>
      <input type="text" pInputText id="code" [(ngModel)]="customer.address" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !customer.address">code is required.</small>
    </div>
    <div class="p-field col-7">
      <label for="cityId">City ID</label>
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" id="cityId" optionLabel="id"></p-dropdown>
    </div>
    <div class="p-field col-7">
      <label for="zip">Zip</label>
      <input type="text" pInputText id="zip" [(ngModel)]="customer.zip" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !customer.zip">state is required.</small>
    </div>
    <div class="p-field col-7">
      <label for="fax">Fax</label>
      <input type="text" pInputText id="fax" [(ngModel)]="customer.fax" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !customer.fax">state is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCounty()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
